/* Small */
@media screen and (min-width: 430px) {
  /* Header */
  header .text h2 {
    font-size: 4.0625rem;
  }
  header .text p {
    font-size: 1rem;
  }
  header .text .buttons {
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
  }
  header .text .buttons a.watch-video .play-icon::after {
    top: 10px;
    left: 55%;
  }
  header .text .buttons::after {
    left: 50%;
    top: -16%;
  }
  header .text .buttons button a#book-btn {
    font-size: 0.9375rem;
  }
  header .text .buttons a.watch-video {
    font-size: 1rem;
  }
  header .text .buttons::after {
    width: 60px;
    height: 60px;
    left: 50%;
    top: -14%;
  }
  /* Chefs */
  h3 {
    font-size: 0.875rem;
  }
  h4 {
    font-size: 3.125rem;
  }
  section#chefs .cards .card h5 {
    font-size: 1.1875rem;
  }
  section#chefs .cards .card p:first-of-type {
    font-size: 0.875rem;
  }
  section#chefs .cards .card p:last-of-type {
    font-size: 0.9375rem;
  }
  section#chefs .cards .card .icons {
    width: 50px;
    height: 190px;
  }
  section#chefs .cards .card .icons i {
    font-size: 1.125rem;
  }
  /* Gallery */
  section#gallery .container .images .image .layer p:first-of-type {
    font-size: 1.5rem;
  }
  section#gallery .container .images .image .layer p:last-of-type {
    font-size: 1rem;
  }
  /* Contact */
  section#contact .container .cards .card .info p:first-of-type {
    font-size: 1.25rem;
  }
  section#contact .container .cards .card .info p:last-of-type,
  section#contact .container .cards .card .info p a {
    font-size: 1rem;
  }
  section#contact .container .form form input:last-of-type {
    width: 180px;
    font-size: 0.9375rem;
  }
  /* Footer */
  footer .boxes .left .text p {
    font-size: 1rem;
  }
  footer .boxes .left .social p {
    font-size: 1.1875rem;
  }
  footer .boxes .left .social .icons a {
    font-size: 1.5rem;
  }
  footer .boxes .middle .subscribe-info p:first-of-type {
    font-size: 1.1875rem;
  }
  footer .boxes .middle .subscribe-info p:last-of-type {
    font-size: 1rem;
  }
  footer .boxes .middle .subscribe-form form button {
    font-size: 0.9375rem;
  }
  footer .boxes .middle .links p,
  footer .boxes .right p {
    font-size: 1.1875rem;
  }
  footer .boxes .middle .links ul {
    font-size: 1rem;
  }
  footer .boxes .middle .links ul li i {
    font-size: 0.75rem;
  }
  footer .boxes .right .addresses .address {
    column-gap: 1.5625rem;
  }
  footer .boxes .right .addresses .address p {
    font-size: 1rem;
  }
  footer .boxes .right .addresses .address a i {
    color: var(--main);
    font-size: 1.375rem;
  }
}
/* Meduim */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  :root {
    --nav-height: 89.78px;
  }
  /* Nav */
  nav {
    justify-content: space-around;
    align-items: center;
    padding-inline: 0;
  }
  nav .links {
    margin-top: 0;
    display: block;
  }
  nav .links ul {
    display: flex;
    justify-content: center;
  }
  nav .links ul li {
    padding: 0 0.9375rem;
  }
  nav .dark-mode .light i {
    font-size: 1.1875rem;
  }
  .mobile-toggler,
  .mobile-links {
    display: none;
  }
  /* Header */
  header {
    margin-top: var(--nav-height);
  }
  header .image {
    max-width: 720px;
  }
  /* Chefs */
  section#chefs .cards {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section#chefs .cards .card {
    width: calc((100% - 1.25rem) / 2);
  }
  /* Gallery */
  section#gallery .images {
    height: 1405px;
    .image {
      width: calc((100% - 1.25rem) / 2);
      margin-bottom: 0;
    }
  }

  /* Contact */
  section#contact .container .cards {
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section#contact .container .cards .card {
    width: 49%;
  }
  /* Footer */
  footer .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 7px;
  }
  footer .boxes .left {
    width: 50%;
  }
  footer .boxes .middle {
    order: 1;
    width: 100%;
  }
  footer .boxes .middle .subscribe-form form {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1%;
  }
  footer .boxes .middle .subscribe-form form input {
    flex-grow: 1;
  }
  footer .boxes .middle .subscribe-form form button {
    padding: 0.5rem 0.5rem 0.5rem 0.625rem;
  }
}
/* Large */
@media screen and (min-width: 992px) {
  /* Header */
  .container {
    max-width: 960px;
  }
  header {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  header .text {
    text-align: start;
    width: 40%;
    align-items: flex-start;
  }
  header .image {
    width: 35%;
  }
  header .text p {
    margin-top: 0;
  }
  header .text button {
    border-radius: 0px 1.875rem 1.875rem;
  }
  /* Chefs */
  section#chefs .cards {
    column-gap: 2%;
  }
  section#chefs .cards .card {
    width: calc((100% - 2.5rem) / 3);
  }
  /* Gallery */
  section#gallery .container .images {
    height: 845px;
    .image {
      width: calc((100% - 2.5rem) / 3);
      &.pizza-one {
        order: 1;
      }
      &.pizza-two {
        order: 2;
      }
      &.steak {
        order: 3;
      }
      &.potato {
        order: 4;
      }
      &.burger {
        order: 5;
      }
      &.chicken {
        order: 6;
      }
      &.kebaab {
        order: 7;
      }
    }
  }

  /* Contact */
  section#contact .container .form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
    justify-content: center;
  }
  section#contact .container .form form input:first-of-type,
  section#contact .container .form form input:nth-of-type(2) {
    width: 49%;
  }
  section#contact .container .form form input:nth-of-type(3),
  section#contact .container .form form textarea {
    width: 100%;
  }
}
/* X Large */
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 0.625rem;
    max-width: 1140px;
  }
  /* Gallery */
  section#gallery .container .images {
    height: 1000px;
  }
  /* Footer */
  footer .boxes {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
  }
  footer .boxes .left,
  footer .boxes .right {
    width: 25%;
  }
  footer .boxes .left {
    padding-top: 0.9375rem;
  }
  footer .boxes .middle {
    width: 46%;
  }
  footer .boxes .right {
    order: 1;
  }
  footer .boxes .middle .subscribe-form form {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1%;
  }
  footer .boxes .middle .subscribe-form form button {
    padding: 0.5rem 0.5rem 0.5rem 0.625rem;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}
